body {
    background-image: url("/assets/images/background.jpg");
    padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

.jumbotron {
    border-style: solid;
    border-color: black;
    border-width: 0.15em;
    font-family: 'Shrikhand', cursive;

}

.panel-default {
    border-style: solid;
    border-color: black;
    border-width: 0.15em;
    font-family: 'Roboto Mono', monospace;

}

.modal-title {
    font-family: 'Shrikhand', cursive; 
}